.titleCadastro {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.btn_return_home {
  padding: 0.3rem;
margin-top: 0.5rem;
margin-left: 0.5rem;
background-color: #cef6a3;
border: solid 1px #a5f154;
border-radius: 5px;
width: 3rem;
}

.btn_return_home:hover {
  transition: 0.5s;
  border-color: #303132;  
  background-color: #c1db00;
}

.btn_return_home>i {
  font-size: 20px;
}

.background {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
  }
  
  .modal {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);    
    width: 70vw;
  }
  
  .center {
    text-align: center;
  }
  
  .form {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .formGroup {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    width: 80%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .inputName {
    width: 80%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }