.footer {
  width: 100%;
  background-color: #303132;  
  color: #ffffff;
  font-size: 16px;
  padding: 0.5rem;
  margin-top: auto;
}

.test_footer {
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test_footer>a {
  padding: 0 5px;
}

.test_footer>a:hover {
  color: #c1db00;
}